<nav class="nav-spotify">
    <div class="header-spotify">
        <a href="/">
            <img alt="Spotify" class="logo-spotify" src="http://www.clker.com/cliparts/5/c/a/f/141490005811489798026274.spotify-logo-horizontal-white-rgb-hi.png">
        </a>
        <%= form_tag artists_path, method: "get", html: { class: "form" } do %>
            <div class="form form-artist">
            <%= text_field_tag(:artist_name, "", value: @artist.name) %>
            </div>
        <% end %>
    </div>
    <div class="menu-spotify">
        <span>By Emerson Laurentino and Victor Meneghini</span>
    </div>
</nav>
<div class="content-show-spotify">
    <% @artist.albums(country: 'US').each do |album| %>
        <a href="spotify:album:<%= album.id %>" class="capa-spotify">
            <img src="<%= renderArtistImage album.images %>">
            <span><%= album.name %></span>
            <ul>
                <% album.tracks.each do |track| %>
                    <li>
                        <%= track.name %>
                    </li>
                <% end %>
            </ul>
        </a>
    <% end %>
</div>
